<section class="advantages">
    <div class="container">
        <h2 class="title">
            НАШИ ПРЕИМУЩЕСТВА
        </h2>
        <div class="advantages__wrapper">
            <div class="advantages__item">
                <img src="img/icons/advantages/adv-1.png" alt="cup" class="advantages__img">
                <div class="advantages__title">
                    Делимся опытом
                </div>
                <p class="advantages__descr">
                    Наши сотрудники всегда готовы поделиться своим опытом,
                    так как сами бегают полумарафоны, переплыли Босфор, готовятся к соревнованиям по триатлону!
                </p>
            </div>
            <div class="advantages__item">
                <img src="img/icons/advantages/adv-2.png" alt="heart" class="advantages__img advantages__img_animated">
                <div class="advantages__title">
                    Заботимся о здоровье
                </div>
                <p class="advantages__descr">
                    Мы работаем для того,
                    чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в радость Вам и Вашим близким!
                </p>
            </div>
            <div class="advantages__item">
                <img src="img/icons/advantages/adv-3.png" alt="shoe" class="advantages__img">
                <div class="advantages__title">
                    Учим бегать
                </div>
                <p class="advantages__descr">
                    Помогаем с обучением
                    правильной технике бега!
                    Дружим с крупнейшей школой бега в России - <a href="https://ilovesupersport.com/running" target="_blank">I LOVE RUNNING.</a>
                </p>
            </div>
        </div>
    </div>
</section>