<section id="catalog" class="catalog">
    <div class="container">
        <h2 class="title">Каталог пульсометров</h2>
        <ul class="catalog__tabs">
            <li class="catalog__tab catalog__tab_active">
                <div>Для фитнеса</div>
            </li>
            <li class="catalog__tab">
                <div>для бега</div>
            </li>
            <li class="catalog__tab">
                <div>для триатлона</div>
            </li>
        </ul>
        <div class="catalog__content catalog__content_active">
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Polar FT1
                        </div>
                        <div class="catalog-item__descr">
                            Для первых шагов в тренировках, основанных на сердечном ритме
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__new-price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">
                        КУПИТЬ
                    </button>
                </div>
            </div> <!-- catalog-item-1 -->

            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Suunto M2
                        </div>
                        <div class="catalog-item__descr">
                            Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>
                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">6 990 руб.</div>
                        <div class="catalog-item__new-price">6 641 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div> <!-- catalog-item-2 -->

            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Polar FT4
                        </div>
                        <div class="catalog-item__descr">
                            Улучшенная версия Polar FT1, имеющая следующие улучшения:
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>
                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__new-price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div> <!-- catalog-item-3 -->
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Polar FT1
                        </div>
                        <div class="catalog-item__descr">
                            Для первых шагов в тренировках, основанных на сердечном ритме
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__new-price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">
                        КУПИТЬ
                    </button>
                </div>
            </div> <!-- catalog-item-4 -->

            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Suunto M2
                        </div>
                        <div class="catalog-item__descr">
                            Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>
                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">6 990 руб.</div>
                        <div class="catalog-item__new-price">6 641 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div> <!-- catalog-item-5-->

            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Polar FT4
                        </div>
                        <div class="catalog-item__descr">
                            Улучшенная версия Polar FT1, имеющая следующие улучшения:
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>
                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__new-price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div> <!-- catalog-item-6 -->
        </div> <!-- catalog__content -->

        <div class="catalog__content">
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Polar FT1
                        </div>
                        <div class="catalog-item__descr">
                            Для первых шагов в тренировках, основанных на сердечном ритме
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>

                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">4 750 руб.</div>
                        <div class="catalog-item__new-price">4 500 руб.</div>
                    </div>
                    <button class="button button_mini">
                        КУПИТЬ
                    </button>
                </div>
            </div> <!-- catalog-item-1 -->

            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Polar FT4
                        </div>
                        <div class="catalog-item__descr">
                            Улучшенная версия Polar FT1, имеющая следующие улучшения:
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div>
                <hr>
                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">7 390 руб.</div>
                        <div class="catalog-item__new-price">7 021 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div> <!-- catalog-item-3 -->
        </div> <!-- catalog__content -->

        <div class="catalog__content">
            <div class="catalog-item">
                <div class="catalog-item__wrapper">
                    <div class="catalog-item__content catalog-item__content_active">
                        <img src="img/catalog.png" alt="pulsometr" class="catalog-item__img">
                        <div class="catalog-item__subtitle">
                            Пульсометр Suunto M2
                        </div>
                        <div class="catalog-item__descr">
                            Пульсометр начального уровня с комфортным тканевым ремешком
                        </div>
                        <a href="" class="catalog-item__link">
                            ПОДРОБНЕЕ
                        </a>
                    </div>
                    <div class="catalog-item__list">
                        <ul>
                            <li>
                                Вы услышите звуковое оповещение о нужном пульсе во время тренировки;
                            </li>
                            <li>
                                Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                            </li>
                            <li>
                                Также Вы увидите информацию о расходе калорий за тренировку;
                            </li>
                            <li>
                                Вы сможете посмотреть данные по 10 тренировкам.
                            </li>
                        </ul>
                        <a href="" class="catalog-item__back">
                            НАЗАД
                        </a>
                    </div>
                </div> <!-- /catalog-item__wrapper -->
                <hr>
                <div class="catalog-item__footer">
                    <div class="catalog-item__prices">
                        <div class="catalog-item__old-price">6 990 руб.</div>
                        <div class="catalog-item__new-price">6 641 руб.</div>
                    </div>
                    <button class="button button_mini">КУПИТЬ</button>
                </div>
            </div> <!-- catalog-item-2 -->
        </div> <!-- catalog__content -->
    </div> <!-- /container -->
</section>