<section class="clients">
    <div class="container">
        <h2 class="title">отзывы клиентов</h2>
        <div class="clients__item fadeInUp wow" data-wow-duration="2s" data-wow-delay="1s">
            <img src="img/clients/client-1.png" alt="client-1" class="clients__img">
            <div class="cliets__text">
                <div class="cliets__name">
                        Ирина Иванченко
                </div>
                <span>2 полумарафона</span>
                <p class="clients__review">
                    Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.
                        Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.
                </p>
                <p class="clients__review">
                    Новые цели - новый гаджет!
                </p>
                <p class="clients__review">
                    Спасибо, RunSmart! 
                </p>
            </div>
        </div>

        <hr>

        <div class="clients__item fadeInUp wow" data-wow-duration="2s" data-wow-delay="1s">
            <img src="img/clients/client-2.png" alt="client-2" class="clients__img">
            <div class="cliets__text">
                <div class="cliets__name">
                        Иван Сёмочкин
                </div>
                <span>1 полумарафон</span>
                <p class="clients__review">
                    Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. 
                        Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд.
                </p>
                <p class="clients__review">
                    С ними подготовился к своему первому полумарафону! Спасибо!!!
                </p>
            </div>
        </div>

        <hr>

        <div class="clients__item fadeInUp wow" data-wow-duration="2s" data-wow-delay="1s">
            <img src="img/clients/client-3.png" alt="client-3" class="clients__img">
                <div class="cliets__text">
                <div class="cliets__name">
                    Юлия Дашкина
                </div>
                <span>2 полумарафона</span>
                <p class="clients__review">
                    Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать.
                </p>
                <p class="clients__review">
                    Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться!
                </p>
                <p class="clients__review">Спасибо!!!</p>
            </div>
        </div>
    </div>
</section>