<section id="up" class="promo">
    <div class="container">
        @@include('_header.html')
        <div class="promo__wrapper">
            <h1 class="promo__header">
                Подбор пульсометра
            </h1>
            <h2 class="promo__subheader">
                с учётом Вашего уровня подготовки
            </h2>
            <div class="promo__icons">
                <div class="promo__icon">
                    <img src="img/icons/main-icons/timer-icon.png" alt="icon">
                    Время подбора:
                    10 минут
                </div>
                <div class="promo__icon">
                    <img src="img/icons/main-icons/delivery-icon.png" alt="icon">
                    Бесплатная
                    доставка
                </div>
                <div class="promo__icon">
                    <img src="img/icons/main-icons/message-icon.png" alt="icon">
                    Ответим
                    на все вопросы
                </div>
            </div>
            <button data-modal="consultation" class="button button_main">
                заказать кОНСУЛЬТАЦИЮ
            </button>
            <div class="promo__link">
                или
                <a href="#catalog">ПЕРЕЙТИ В КАТАЛОГ</a>
            </div>
        </div>
    </div>
</section>