.advantages {
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 65px;
        padding: 0 8px 0 11px;
        color: #0d0d0d;
    }
    &__item {
        width: 30%;
        text-align: center;
    }
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-top: 38px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 400;
        margin-top: 25px;
        a {
            color: #ff0000;
            text-decoration: underline;
            &:hover {
                color: #ff0000;
            }
        }
    }
    &__img {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.5s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
            //animation: heartbeat 1.5s ease infinite; // combined styles for animation
        }
    }
}